#bookreviews {
display: flex;
flex-direction:row;
overflow: hidden;
margin:auto;
}

#booking {
  position: sticky;
}

#middle {
  display: flex;
  flex: row;
}

#photos {
  max-width: 2000px;
  height:auto;
}

.static {
  height: auto;
  max-width: 710px;
  padding-left: 137px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  object-fit: cover;
  overflow: hidden;
}

#description {
  height:100%;
  overflow:hidden;
  display:flex;
  flex-direction: row;
}

#imagesContainer {
  height:100%;
  width:65%;
  display:flex;
  flex-direction: column;
}

#bookingContainer {
  height: 2000px;
  width: 800px;
}